.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .main {
    width: 40%;
  }
}

.input-container {
	display: flex;
	flex-direction: column;
	width: 100%
}
