.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.divider {
    border: 1px solid var(--p-gray-200);
    margin: 0;
    padding: 0;
    width: 100%;
}
