[bumpversion]
current_version = 0.0.7
commit = True
tag = True

[bumpversion:file:VERSION]

[bumpversion:file:frontend/package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"
