:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
}

.quantity {
	flex: 2 1 0;
}

.name {
	flex: 4.5 1 0;
	overflow: hidden;
	word-break: break-all;
}
