<div class="scale">
    <div class="originalPortions">
        <div class="scale-select">
            <label for="scaleSelect">Porzioni indicate nella ricetta originale</label>
            <span class="scale-select-subtitle" for="scaleSelect">Se non definite, verrà considerata una ricetta per una persona.</span>
        </div>
        <input id="scaleSelect" [(ngModel)]="brain.originalPortions" type="number" min="1" step="1"/>
    </div>
    <div class="portions">
        <button (click)="decreasePortions()">-</button>
        <h3 class="portions-input">{{brain.portions}}</h3>
        <button (click)="increasePortions()">+</button>
    </div>
</div>