<div class="scale">
  <div class="original-portions-container">
    <div class="original-portions">
      <label class="small" id="original-input-label" for="original-portions-input">{{
        'scaler_original_servings_amount' | translate
      }}</label>
      <input
        pInputText
        id="original-portions-input"
        [(ngModel)]="brain.originalPortions"
        autocomplete="off"
        type="number"
        min="1"
        step="1"
      />
    </div>
    @if (!brain.originalPortions) {
    <span class="small centered-text grayded-out"
      >Se non definisci le porzioni di partenza, prenderemo come riferimento una ricetta per due
      persone.</span
    >
    }
  </div>
  <hr class="divider" />
  <div class="portions">
    <p-button rounded="true" class="scale-button" (click)="decreasePortions()" icon="pi pi-minus" />
    <h3 class="portions-input">{{ brain.portions }}</h3>
    <p-button rounded="true" class="scale-button" (click)="increasePortions()" icon="pi pi-plus" />
  </div>
  @if (brain.portions > 35 && brain.portions <= 50) {
  <p class="funny-message">{{ 'scaler_funny_message_1' | translate }}</p>
  } @if (brain.portions > 50) {
  <p class="funny-message">{{ 'scaler_funny_message_2' | translate }}</p>
  }
</div>
