<div class="scale">
  <div class="originalPortions">
    <div class="flex flex-col gap-2 servings">
      <p-floatlabel variant="in">
        <input
          pInputText
          id="username"
          [(ngModel)]="brain.originalPortions"
          autocomplete="off"
          type="number"
          min="1"
          step="1"
        />
        <label for="username">Porzioni originali</label>
      </p-floatlabel>
    </div>
  </div>
  <div class="portions">
    <p-button (click)="decreasePortions()">-</p-button>
    <h3 class="portions-input">{{ brain.portions }}</h3>
    <p-button (click)="increasePortions()">+</p-button>
  </div>
</div>
