.scale {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.portion {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.portions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.originalPortions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.portions-input {
  text-align: center;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  width: 6rem;
}
.scale-select {
  display: flex;
  flex-direction: column;
}
.scale-select-subtitle {
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
  color: #666666;
}
