@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0.5rem 0.5rem;
    background-color: #f5f5f5;
    color: white;
    background-color: #111111;
}