.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.main-title {
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}

.subtitle {
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #999999;
    text-align: center;
}