:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credits {
  font-size: 0.8rem !important;
}

.github-ref {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.jacquard {
  font-family: 'Jacquard 12', system-ui;
  font-weight: 400;
  font-style: normal;
}

.main-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 0;
  margin: 0;
  font-size: 3rem;
  text-align: center;
  color: var(--p-primary-900);
}

.subtitle {
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: var(--p-primary-900);
  text-align: center;
}

.version-tag {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6rem;
  color: var(--p-secondary-700);
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  padding: 0.1rem 0.2rem;
  background-color: var(--p-primary-50);
}