.new-ingredient-container {
    display: flex;
    flex-direction: column;
}

.new-ingredient-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.ingredient-label {
    word-break: none;
}

.ingredient-input {
    // width: 100%;
}