.new-ingredient-container {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredient-label {
    word-break: none;
}

.quantity-and-unit {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.new-ingredient-button {
    width: 100%;
}

.new-ingredient-button .p-button {
    width: 100% !important;
}