:host {
    width: 100%;
}

.new-ingredient-container {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.ingredient-label {
    word-break: none;
}

.quantity-and-unit {
    display: flex;
    gap: 0.3rem;
    width: 100%;
}

.quantity-and-unit > p-floatlabel {
    flex: 1;
    min-width: 0;
}

.quantity-and-unit input {
    width: 100%;
}

.new-ingredient-button {
    width: 100%;
}

.new-ingredient-button .p-button {
    width: 100% !important;
}