<div class="new-ingredient-container">
  <p-floatlabel variant="in" class="w-100">
    <input
      pInputText
      id="username"
      class="w-100"
      [(ngModel)]="brain.inputIngredient.name"
      (keydown)="handleKeyDown($event)"
      autocomplete="off"
    />
    <label for="username">{{ 'new_ingredient_name_placeholder' | translate }}</label>
  </p-floatlabel>
  <div class="quantity-and-unit">
    <p-floatlabel variant="in">
      <input
        pInputText
        id="quantity"
        type="number"
        [(ngModel)]="brain.inputIngredient.quantity"
        (keydown)="handleKeyDown($event)"
        autocomplete="off"
      />
      <label for="quantity">{{ 'new_ingredient_amount_placeholder' | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="in">
      <input
        pInputText
        id="unit"
        [(ngModel)]="brain.inputIngredient.unit"
        (keydown)="handleKeyDown($event)"
        autocomplete="off"
      />
      <label for="unit">{{ 'new_ingredient_unit_placeholder' | translate }}</label>
    </p-floatlabel>
  </div>

  <p-button
    class="new-ingredient-button"
    (click)="addNewIngredient()"
    icon="pi pi-plus"
    [label]="'new_ingredient_add_button' | translate"
    [fluid]="true"
  ></p-button>
</div>
