:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.ingredients-renderer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ingredients-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.no-ingredients-message {
    color: var(--p-gray-500);
}