:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.ingredients-renderer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.copy-ingredients-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.no-ingredients-message {
    color: var(--p-gray-500);
}